@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400;1,500&display=swap');

:root {
  --azure: #0290ff;
  --white: #e8e8e8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Style Nav bar */

.NavBar {
  width: 87.5rem;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.main-header {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 0 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.NavList {
  display: flex;
  flex-direction: row;
}

.NavItem {
  list-style-type: none;
}

.NavLink {
  text-decoration: none;
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.Mask {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 41.5rem;
  margin-right: 10rem;
  vertical-align: middle;
}
